.stDetailInfo {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #eee;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.updateInput {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  height: 70px;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}

.updateInput:hover {
  border-color: #40a9ff;
  border-right-width: 1px;
}
.updateInput:focus {
  outline: none;
}

.stkim {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.stUserBox {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.stUserImgBox {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;
}

.stUserImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stImg {
  width: 50%;
  height: 60%;
}

.stControlButtons {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.stControlButtons button {
  width: 100px;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.stControlButtons button:hover {
  background-color: rgba(252, 237, 239, 0.3);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color: black;
}
